---
ansible_become_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37343566636436626537343634376437366163373964303231336362313937306163376235343437
  6232393265633739393536343937623139623964336162650a393930303238316566663832623762
  65333930343762396138323563373463376564636265343335313164383462353965633832656137
  3739666563303639370a643634343034623866313035626632366464376435613931316130373337
  3435

configure_dotfiles: true
configure_terminal: false
configure_osx: true

dotfiles_repo: https://github.com/fwullschleger/dotfiles
dotfiles_repo_accept_hostkey: true
dotfiles_repo_local_destination: ~/workspaces/dotfiles

homebrew_taps:
#  - { name: cirruslabs/cli, url: 'https://github.com/cirruslabs/homebrew-cli' }
  - { name: nikitabobko/tap, url: 'https://github.com/nikitabobko/homebrew-tap' }
  - { name: withgraphite/tap, url: 'https://github.com/withgraphite/homebrew-tap' }
 
homebrew_installed_packages:
  # - ansible # Installed via Pip.
  - atuin #If you choose to manually install Atuin rather than using the recommended installation script, merely installing the binary is not sufficient, you should also set up the shell plugin. -> https://docs.atuin.sh/guide/installation/
  - bat
  - cheat
  #  - cirruslabs/cli/tart
  - curl
  - eza
  - fd
  - fzf
  - gh
  - git
  - gradle@8
  - graphite
  - graphviz # dependency of schemaspy
  - node
  - nushell
  - openjdk # dependency of schemaspy
  - rename
  - ripgrep
  - sqlcipher
  - starship
  - stow
  - tlrc
  - tmux
  - tree
  - vim
  - wget
  - yarn
  - zoxide
  - zsh-autosuggestions

homebrew_cask_apps:
  - aerospace
  - alt-tab
  #- Archimate #https://www.archimatetool.com/donate/?download=/downloads/archi/5.4.3/Archi-Mac-Silicon-5.4.3.dmg
  - bbedit
  - brave-browser
  - calibre
  - cursor
  - db-browser-for-sqlite
  - docker
  - espanso
  - ghostty
  - google-drive
  - homerow
  - iina
  - jetbrains-toolbox
  - karabiner-elements
  - keepassxc
  - lens
  - libreoffice
  - logi-options-plus
  - logseq
  - macwhisper
  - middleclick
  - openvpn-connect
  - pinta
  - portfolioperformance
  - powershell
  - protonvpn
  - qbittorrent
  - raspberry-pi-imager
  - rectangle
  - rider
  - shottr
  - spotify
  - synology-drive
  - tella
  #- tailscale
  - ungoogled-chromium
  - utm
  #- virtualbox # Is not running optimally and performant under Mac M-Chip series
  - vlc
  - vnc-viewer
  - warp
  - webstorm
  - wezterm
  - whatsapp
  - wireshark
  - zoom

homebrew_uninstalled_packages:
  - cowsay

dotnet_versions:
  - 9.0
  - 8.0
  - 7.0
  - 6.0
